[build]
  publish = "build"
  command = "CI=false npm run build"

[[plugins]]
  package = "@netlify/plugin-functions-install-core"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"
  CI = "false"

[functions]
  directory = "netlify/functions"
